*{
    background-color: #0D1117;
    margin:0;
    color:white;
    font-family: Arial;
}

.full-header{
    margin-top:20px;
    border-bottom: 1px solid rgb(82, 81, 81);
    margin-left:5px;
    margin-right: 5px;
    position:relative
}

/* first header */

header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
   
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}
.user-pic{
    width:35px;
    height:35px;
    border-radius:50%;
   margin-right:20px;
}

.right{
    margin-right:100px;
}
.search-user{
  width:250px;
  border:1px solid rgb(100, 100, 100);
  border-width: 1px;
  padding:10px 15px;
  border-radius:5px;
  font-size:16px;
}

/* navigation */
nav{
    padding-top:15px;
    margin-left:50px;
    padding-bottom: 10px;
}
.left-nav{
    display: flex;
    
}
.one{
    display:flex;
    margin-right:25px;
    align-items: center;
    cursor: pointer;
  
}

.one:hover{
    background-color: rgb(27, 26, 26);
    border-radius:5px;
}

.icon{
    color:rgb(127, 127, 127); 
    margin-right:10px;
    background: transparent;
    margin:3px;
}

.name{
    margin-right:10px;
    font-size: 14px;
     background: transparent;
    margin:3px;
    margin-left:5px;
}
.count{
    font-size: 14px;
    background-color: rgb(31, 31, 31);
    padding:4px;
    border-radius: 30px;
     margin:3px;
     margin-left:5px; 
}


main{
   display:grid;
   grid-template-columns: 30% 70%;
   column-gap: 15px;
   margin-left:auto;
   margin-right:auto;
   padding-top:30px;
   align-items:start;
   max-width: 80%;

}

/* left side */



.user-profile{
    width:300px;
    max-width: 100%;
    border-radius: 50%;
    display: block;
}

.user-name{
    color: rgb(222, 221, 221);
}

.pic-name{
    font-weight:300;
    font-size: 20px;
    color:rgb(106, 105, 105)
}

.follow-btn{
     padding:10px 20px;
     font-size:14px;
     font-weight: 700;
     margin-bottom:20px;
     border:1px solid rgb(130, 130, 130);
     border-radius: 5px;
     background-color: rgb(32, 32, 32);
     cursor: pointer;
     transition: background-color 0.1s;
     margin-top:20px;
     width:80%;
}
.follow-btn:hover{
    background-color:rgb(58, 58, 58)
}
.info{
    display: flex;
}

.git-id{
    font-size:14px;
    font-weight: 700;
    color: rgb(221, 220, 220);
    margin-bottom: 10px;
}

.location,.email-info,.git-link{
      color: rgb(221, 220, 220);
      font-size:14px;
      margin-bottom: 10px;
}

.color-change{
    color: rgb(165, 165, 165);
    font-size:14px;
}

.follow-data{
    display: flex;
    align-items: start;
   
}

.followers-link{
    text-decoration: none;
}

.icon-link{
    text-decoration: none;
}

.icon-link{
    margin-right:5px;
    margin-bottom: 20px;
}

.icon-link:hover{
   color:blue;
}

.following-link{
  text-decoration: none;
}

.following-link:hover{
    color: blue;
}

/* repo right */

.about-follower{
    display:flex;
    align-items: start;
    justify-content: space-between;
    
    padding-bottom: 15px;
}

.image-user{
    display:flex;
    align-items: start;
    column-gap: 20px;
}

.follower-name{
     font-size:15px;
     color: rgb(160, 160, 160);
}

.image{
    width:70px;
    border-radius: 50%;
}

.repo-follow-btn{
    border:1px solid rgb(157, 157, 157);
    padding:8px 15px;
    border-radius: 5px;
    cursor:pointer;
    background-color: rgb(31, 30, 30);
    font-weight:700;
    font-size: 12px;
    transition: background-color 0.1s ease;
    

}

.repo-follow-btn:hover{
    background-color: rgb(47, 47, 47);
}

.just-border{
    border-bottom: 1px solid rgb(90, 90, 90);
    margin-top:15px;
    margin-bottom:30px;
}

.pagination{
    display: flex;
    justify-content: center;
}

#prevBtn,#nextbtn{
    font-size:14px;
    font-weight:bold;
    border:none;
    cursor: pointer;
    margin-right:20px;
    border:1px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.1s ease;
}

#prevBtn:hover,#nextbtn:hover{
   
   background-color: rgb(42, 41, 41);
}
