*{
    background-color: #0D1117;
    margin:0;
    color:white;
    font-family: Arial;
}

.full-header{
    margin-top:20px;
    border-bottom: 1px solid rgb(82, 81, 81);
    margin-left:5px;
    margin-right:5px;
    
    position:relative
}

/* first header */

header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-right:30px;
    align-items: start;
   
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}
.user-pic{
    width:35px;
    height:35px;
    border-radius:50%;
   margin-right:20px;
}

.right{
    display: flex;
    justify-content: start;
    column-gap: 5px;
    margin-right:10%;
    
}
.search-user{
  width:250px;
  border:1px solid rgb(100, 100, 100);
  border-width: 1px;
  padding:10px 15px;
  border-radius:5px;
  font-size:16px;
}

.search-btn{
    border:1px solid rgb(100, 100, 100);
    padding:10px 15px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-size:14px;
    font-weight:700;
}

.search-btn:hover{
    background-color: rgb(54, 54, 54);
}
/* navigation */
nav{
    padding-top:15px;
    margin-left:50px;
    padding-bottom: 10px;
}
.left-nav{
    display: flex;
    
}
.one{
    display:flex;
    margin-right:25px;
    align-items: center;
    cursor: pointer;
  
}

.one:hover{
    background-color: rgb(27, 26, 26);
    border-radius:5px;
}

.project{
    cursor:none;
}

.package{
    cursor:none;
}

.icon{
    color:rgb(127, 127, 127); 
    margin-right:10px;
    background: transparent;
    margin:3px;
}

.name{
    margin-right:10px;
    font-size: 14px;
     background: transparent;
    margin:3px;
    margin-left:5px;
}
.count{
    font-size: 14px;
    background-color: rgb(31, 31, 31);
    padding:4px;
    border-radius: 30px;
     margin:3px;
     margin-left:5px; 
}

.border{
    border-bottom: 2px solid #ff8c6b;
     width:100px;
    position: absolute;
    bottom:0px;
}

/* body*/

main{
   display:grid;
   grid-template-columns: 30% 70%;
   column-gap: 15px;
   margin-left:auto;
   margin-right:auto;
   padding-top:30px;
   align-items:start;
   max-width: 80%;

}

/* left side */



.user-profile{
    width:300px;
    max-width: 100%;
    border-radius: 50%;
    display: block;
    
}

.user-name{
    color: rgb(222, 221, 221);
    margin-top:15px;
}

.pic-name{
    font-weight:300;
    font-size: 20px;
    color:rgb(106, 105, 105)
}

.follow-btn{
     padding:10px 20px;
     font-size:14px;
     font-weight: 700;
     margin-bottom:20px;
     border:1px solid rgb(130, 130, 130);
     border-radius: 5px;
     background-color: rgb(32, 32, 32);
     cursor: pointer;
     transition: background-color 0.1s;
     margin-top:20px;
     width:80%;
}
.follow-btn:hover{
    background-color:rgb(58, 58, 58)
}
.info{
    display: flex;
    flex-direction: row;
     column-gap: 5px;
}

.git-id{
    font-size:14px;
    font-weight: 700;
    color: rgb(221, 220, 220);
    margin-bottom: 10px;
}

.location,.email-info,.git-link{
      color: rgb(221, 220, 220);
      font-size:14px;
      margin-bottom: 10px;
}

.color-change{
    color: rgb(165, 165, 165);
    font-size:14px;
}

.follow-data{
    display: flex;
    align-items: start;
   
}

.followers-link{
    text-decoration: none;
}



.icon-link{
    margin-right:5px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.icon-link:hover{
   color:blue;
}

.following-link{
  text-decoration: none;
}

.following-link:hover{
    color: blue;
}

/* repo projects */


.repo-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap:15px;
}
.repo-info{
   border:1px solid rgb(93, 93, 93);
   border-radius:5px;
   padding:20px;
   margin-top:10px;
}

.repo-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.repo-link{
    text-decoration: none;
   color: #336BB3;
   cursor: pointer;
}

.status{
    color:rgb(119, 119, 119);
    font-size:12px;
    font-weight:700;
    border:1px solid rgb(60, 60, 60);
    padding:4px 8px;
    border-radius: 15px;
}

.repo-languages{
    display: flex;
    align-items: center;
    margin-top:30px;
}
.circle{
    width:12px;
    height:12px;
    background-color:rgb(252, 42, 0) ;
    border-radius: 50%;
}

.skill{
    font-size:12px;
    font-weight:700;
    color:rgb(103, 102, 102);
    margin-left:3px;
}

/*    loading image */

#loader{
    position:fixed;
     height:100vh;
    width:100vw;
    
     top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index:100;
    
}


.loading-image{
    width:70px;
}

.hidden{
    display: none;
}

#errorcontainer{
    position:fixed;
     height:100vh;
    width:100vw;
     top:0;
    left:0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    z-index:100;
    font-size:24px;
    color:white;
}

.retryBtn{
   
    font-size: 16px;
    cursor: pointer;
    padding:10px 15px;
    border-radius:5px;
    border:1px solid grey;
    transition: background-color 0.1s;
}

.retryBtn:hover{
    background-color: rgb(89, 89, 89);
}